/* styles.css */

#box1{
  border: 8px solid red;
  padding: 40px;
  height: 70px;
  width: 100px;
  margin: 0 auto;
  box-sizing:content-box;
}


/*  Border box padding ko additionaly include nahi karega */
#box2{
  border: 8px solid red;
  padding: 40px;
  height: 70px;
  width: 100px;
  margin: 20px;
  box-sizing: border-box;
}
  
/*  Margin , Padding , Border */

